
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$cyan: #01fff6; 
$turquoise: #027b60;
$d-turq: #014939;
$sd-turq: #001813;
$y-green: #88c100;
$green: #05a759;
$b-green: #12da8f;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
